.row {
    height: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex: 50%;
    height: 200px;
    width: 50%;
}

.float-button {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 40px;
    right: 40px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    line-height: 25px;
}

.my-float {
    margin-top: 22px;
}
